
<form [formGroup]="form" >
      <h2>Title</h2>
      <input
        type="text"
        size="40"
        placeholder="Please input Recipe Name"
        formControlName="title"
      >

      <h3>Ingredients</h3>

      <div formArrayName="ingredients">
        <button
          type="button"
          (click)="addIngredient()"
          >
          Add Ingredient
        </button>
        <div
        *ngFor="
          let ing of returnFormArr(form, 'ingredients').controls;
          let i = index">
          <input class="form-control" type="text" size="40" [formControlName]="i"/>
        </div>
      </div>

    <div>
      <h3>Instruction:</h3>
      <textarea
      formControlName="instruction"
      cols="50"
      rows="10"
      >

      </textarea>

    </div>
      <h3>Image</h3>
      <input type="text" formControlName="image">

      <button
    type="button"
    (click)="submit()"
    [disabled]="!form.valid">Add Recipe</button>

<button [routerLink]="['/']">Back to Home Page</button>
</form>


<hr>

